/* guarantees that the element will take up no more than that width */
* {
  box-sizing:  border-box;
}

/* ensure content doesn't come up to edge of viewport at small sizes */
.row{
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

/* clearfix */
/* rows vertically contain all their content */
.row::before,
.row::after{
  display: table;
  content: '';
}

/* content come after row act as if preceding row was in normal flow */
.row::after{
  clear: both;
}

/* Grabbed from previous example
   * Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
.col-3, .col-4, .col-6, .col-12{
  float: left;
  padding: 0 1.041666%;
}

/* mobile defaults */
.col-3, .col-4, .col-6, .col-12{
  width: 100%;
}

/* non-mobile, grid */
@media only screen and (min-width: 640px){
  /* 3 columns, 3/12 = 25% */
  .col-3 {
    width: 25%;
  }

  /* 4 columns 4/12 = 33.33 */
  .col-4 {
    width:  33.33%;
  }

  /* 6 columns 6/12 = 50%*/
  .col-6 {
    width:  50%;
  }

  /* 12 columns 12/12 = 100 */
  .col-12 {
    width: 100%;
  }
}